:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #cc2929;
    --color-sidebar-background: #00000010;
    --color-green: #9dfc03;
    --font-family: 'Arial', Arial, sans-serif;
}

/* <!-- Animations --> */
@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

@keyframes scroll {
    0% { transform: translateX(0%) }
    100% { transform: translateX(-100%) }
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    font-size: 0.62vw;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    user-select: none;
}

main {
    height: 100%;
}

.main_opacity {
    opacity: 0;
    transition: opacity ease-in-out 3s;
}

.main_opacity_visible {
    opacity: 1;
}

section {
    max-height: 1080px;
}

section .resize {
    height: 100%;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

/* <!-- Welcome --> */
.welcome {
    height: 100%;
    overflow: hidden;
}

.welcome__text-wrapper {
    user-select: none;
    max-width: 745px;
    position: relative;
    width: 100%;
}

.welcome__text-wrapper p {
    max-width: 745px;
    width: 100%;
    font-size: min(max(13.5rem, 70px), 135px);
    color: var(--color-red);
    background-position: center center;
    z-index: 12;
    line-height: 1;
    position: relative;
    margin-bottom: 95px;
}

.welcome__img-circle,
.welcome__img-circle-2,
.welcome__img-circle-3,
.welcome__img-square,
.welcome__img-float {
    position: absolute;
}

.welcome__img-circle {
    top: calc(50% - 725px / 2);
    left: calc(40% - 725px / 2);
    z-index: 11;
    width: 725px;
    animation: rotate 10s infinite linear;
}
.welcome__img-circle-2,
.welcome__img-circle-3 {
    z-index: 13;
    width: 376px;
    right: -20%;
    bottom: -5%;
    animation: rotate 20s infinite linear;
}

.welcome__img-circle-2 {
    bottom: -20%;
}

.welcome__img-square {
    z-index: 13;
    width: 215px;
    top: -20%;
    left: -215px;
}

.welcome__img-float {
    width: 45px;
    top: calc(45% - 65px / 2);
    left: 55%;
    z-index: 13;
}

/* <!-- About --> */
.about {
    max-height: 445px;
    height: 100%;
}

.about__text-wrapper {
    position: relative;
    display: flex;
    margin: 0 auto;
    transform: translate(5%, 0);
    max-width: 1000px;
    width: 100%;
}

.about__img-line,
.about__img-line-2,
.about__img-manifest {
    position: absolute;
}

.about__img-line {
    max-width: 888px;
    top: -230px;
    left: -100px
}

.about__img-line-2 {
    max-width: 499px;
    left: 55%;
    top: 115px;
    filter: grayscale(1);
    animation: rotate 30s infinite linear;
}

.about__img-manifest {
    transform: rotate(15deg);
    max-width: 482px;
    top: -125px;
    left: 600px;
}

.about__who {
    display: flex;
    flex-direction: column;
    font-size: min(max(9.6rem, 30px), 96px);
    flex: 1;
    position: relative;
    text-transform: uppercase;
}

.about__who > span {
    color: #8ae600;
    font-size: 20px;
    text-align: center;
}

.about__about-us {
    text-transform: uppercase;
    text-align: right;
    line-height: 1.6;
    font-size: 16px;
    position: relative;
}

/* <!-- Gallery --> */
.gallery {
    background-color: var(--color-red);
}

.gallery__photos {
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    max-height: 564px;
    padding: 0 40px;
}

.gallery__photos img {
    width: calc(100% / 4);
    transition: 150ms;
}

.gallery__photos img:hover {
    cursor: zoom-in;
    position: relative;
    transform: scale(1.04);
    -ms-transform: scale(1.04);
    box-shadow: 0 2px 20px 2px rgb(0 0 0 / 45%)
}

.contact-marquee {
    max-height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
}

.green-sphere {
    color: #9dfc03;
    margin: 0 20px;
}

/* <!-- Story  --> */
.story {
    height: 100%;
    max-height: 615px;
    padding-bottom: 110px;
}

.story > * > em {
    font-size: 16px;
    opacity: 0.6;
}

.story img {
    position: absolute;
    bottom: 190px;
    left: calc((50% - 620px / 2) - 110px);
    max-width: 620px;
}

.story p {
    font-size: 96px;
    max-width: 1193px;
    margin: 0 auto;
    line-height: 1;
    text-align: center;
}

/* <!-- Free Space --> */
.free-space {
    height: 100%;
    max-height: 700px;
    background-image: url('../assets/block-5_background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-color: transparent;
    border-style: solid;
    filter: grayscale(100%);
}


/* <!-- Why --> */
.why {
    position: relative;
    height: 100%;
    max-height: 618px;
    background-color: var(--color-red);
    padding-top: 65px;
}

.why img {
    position: absolute;
    top: -60px;
    left: 0;
    max-width: 973px;
}

.why__wrapper {
    max-width: 1170px;
    height: 100%;
    width: 100%;
}

.why__text-wrapper {
    position: relative;
    margin: 0 auto;
    font-size: 96px;
    text-transform: uppercase;
}

.why__text-wrapper > p {
    position: relative;
    z-index: 2;
    margin-left: 45px;
}

.why__content {
    height: calc(100% - 110px);
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.content__item {
    position: relative;
    max-width: 260px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.content__item > em {
    font-size: 16px;
    opacity: 0.6;
    margin: 30px 0 5px;
}

.content__item > p {
    font-size: 24px;
}

.content__item > span {
    font-size: 18px;
    line-height: 1.6;
    margin: auto 0 20px;
}


/* <!-- Footer -->  */
.footer {
    padding-top: 30px;
    overflow: hidden;
}

.footer__text-wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer__divider {
    height: 1px;
    width: calc(100% - 10px);
    margin: 0 auto 10px;
    background: var(--color-black);
}

.footer__text-wrapper > p {
    width: 100%;
    max-width: 1025px;
    text-transform: uppercase;
    font-size: 66px;
    line-height: 1;
}

.footer__float {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 287px;
}

.year {
    padding-bottom: 15px;
}

.year > div > em {
    font-size: 16px;
    width: 100%;
    max-width: 1170px;
}

/* <!-- Default Marquee --> */
.marquee {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: hidden;
}

.marquee .inner {
    flex: 0 0 auto;
    min-width: 100%;
    display: flex;
    align-items: center;
    animation-name: scroll;
    animation-delay: 0s;
    animation-duration: 30s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee .inner > * {
    white-space: nowrap;
}

/* <!-- Marquees --> */

.portfolio-marquee {
    max-height: 110px;
    margin-top: 15px;
}

.email-marquee {
    max-height: 245px;
    margin: 60px 0 90px;
}

.contact-marquee-1,
.contact-marquee-2 {
    max-height: 107px;
}

.email-marquee .inner,
.contact-marquee-1 .inner,
.contact-marquee-2 .inner,
.portfolio-marquee .inner {
    font-size: min(max(9.6rem, 70px), 135px);
    animation-duration: 60s;
    animation-direction: reverse;
}

.contact-marquee-2 .inner {
    animation-direction: normal;
}

.contact-marquee-1 .inner,
.contact-marquee-2 .inner {
    color: #949494;
}

.email-marquee .inner,
.portfolio-marquee .inner {
    color: var(--color-red);
}

.portfolio-marquee .inner > * {
    margin-left: 350px;
}

.email-marquee .inner > * {
    margin-left: 200px;
}

.contact-marquee-1 .inner > *,
.contact-marquee-2 .inner > * {
    display: flex;
}

.contact-marquee-1 .inner > * {
    margin-left: 600px;
}

.contact-marquee-2 .inner > * {
    margin-right: 600px;
}

/* <!-- Float Button --> */
.float_button {
    top: 40px;
    right: 40px;
    width: 48px;
    height: 48px;
    z-index: 999;
    padding: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-black);
}

/* <!-- Side Menu --> */
.sidebar {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 1000;
    position: fixed;
    transition: 700ms;
    user-select: none;
    justify-content: flex-end;
}

.sidebar-hidden {
    right: -100vw;
}

.sidebar .menu {
    width: 375px;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 48px 40px 38px;
    justify-content: space-between;
    background-color: var(--color-black);
}

.sidebar .menu .links {
    display: flex;
    flex-direction: column;
}

.sidebar .menu .links a {
    font-size: 28px;
    font-weight: 400;
    width: fit-content;
    margin-bottom: 15px;
    color: var(--color-white);
}

.sidebar .menu .socials a {
    margin-right: 10px;
}

.sidebar .menu .float_button {
    top: 15px;
    padding: 0;
    right: 15px;
    width: 36px;
    height: 36px;
    position: absolute;
}

/* <!-- Image Preview --> */
.image-preview {
    z-index: 10000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: var(--color-black);
    color: var(--color-white);
}

.image-preview-hidden {
    display: none;
}

.image-preview .carousel-container {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
}

.image-preview .carousel-container .carousel {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.29, 0.39, 0.2, 0.96);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.image-preview .carousel-container .carousel .preview-item {
    height: 100%;
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image-preview .carousel-container .carousel .preview-item .preview-image {
    max-height: calc(100vh - 30px);
    display: block;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
    overflow: auto;
    -webkit-backface-visibility: hidden;
}

.carousel-prev-arrow,
.carousel-next-arrow,
.preview-close {
    position: fixed;
    cursor: pointer;
    border: none;
    outline: none;
}

.carousel-prev-arrow,
.carousel-next-arrow {
    top: 50px;
    bottom: 50px;
    width: 15%;
}

.carousel-prev-arrow {
    left: 0;
    right: auto;
}

.carousel-next-arrow {
    right: 0;
    left: auto;
}

.preview-close {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 10px;
    padding: 2px;
    background: rgba(1, 1, 1, 0.3);
}

.left-arrow-wrapper,
.right-arrow-wrapper {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 40px;
    height: 40px;
    background: rgba(1, 1, 1, 0.3);
    border-radius: 50%;
    padding: 2px;
}

.left-arrow-wrapper {
    left: 10px;
    right: auto;
}

.right-arrow-wrapper {
    right: 10px;
    left: auto;

}

/* <!-- Globals --> */
.scroll-lock {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@media (max-width: 960px) {
    .free-space {
        display: none;
    }

    .sidebar .menu {
        width: 100vw;
    }
}
